@{Layout = null;}
<div class="modal fade" id="ModalPDFPreview" tabindex="-1" aria-labelledby="titulo-proveedor" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 860px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="pdf-viewer"></div>
                    <a class="btn btn-success" id="download-preview-pdf">Download PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>